:root {
  font-size: 16px;
  --color-white: #e4e4e7;
  --color-lightzinc: #a1a1aa;
  --color-mediumzinc: #52525b;
  --color-darkzinc: #27272a;
  --color-blackzinc: #09090b;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-darkzinc);
  color: var(--color-white);
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
}

header,
main,
footer {
  padding: 1rem 2rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 2rem;
}

.logo {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}
